:root {
    /* --primary-color: #4caf50; */
    --darkgreen: #053827ff;
    --asparagus: #6a994eff;
    --sunglow: #fccd56ff;
    --black: #000000ff;
}

.view-button {
    background-color: var(--darkgreen);
    color: white;
    transition: background-color 0.3s ease-in-out;
}